@import bourbon/bourbon


$hColor: #464545
$pColor: #696969
$red: #870909
$lighterRed: #b60606
*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  font-family: 'Open Sans', sans-serif
  color: $pColor

h1, h2, h3, h4, h5, h6, small
  font-family: 'Open Sans Condensed', sans-serif
  color: $pColor

.hidden
  visibility: hidden


.fixed
  position: fixed
  top: 0
  right: 0
  left: 0
  height: 50px
  box-shadow: 0 0 5px #4d4141





#navbar, #navbar2
  width: 100vw
  max-width: 100%
  background: #eeeeee
  height: 50px

  span
    font-family: 'Open Sans Condensed', sans-serif
    display: inline-block
    font-size: 32px
    cursor: pointer
    height: 100%
    padding: 0 20px
    // &:hover
    //   background: red
    //   color: white
  ul
    display:inline-block
    float: right
    margin: 0 60px 0
    font-size: 18px
    height: 100%

    li
      display:inline-block
      margin-right: 8px
      height: 100%
      padding: 12px
      &:hover
        background: $lighterRed
      &:hover a
        color: white
      a
        padding: 3px 5px
        height: 100%



section
  width: 100vw
  max-width: 100%
  position: relative
  overflow: hidden

  img
    position: absolute
    z-index: -2
    +filter(blur(2px) grayscale(100%))
    +transition(1.3s)




#section1
  height: 100vh
  max-height: 100%
  @include linear-gradient(to right, #c9c9c9 10%, #ffffff 70%)
  z-index: -3


  .intro
    padding-top: 250px
    width: 50%
    max-width: 400px
    margin: auto

    .show
      opacity: 1
      +transform(translateX(0px))

    h1
      margin: 0 0 30px 0
      font-size: 58px
      opacity: 0
      +transform(translateX(50px))
      +transition(1.5s)

      small
        font-size: 40px

    p
      opacity: 0
      +transform(translateX(50px))
      +transition(1.5s)

    img.phone
      width: 600px
      left: -150px
      top: 150px
      opacity: 0
      +transform(translateX(50px))

    img.mcbkair
      width: 680px
      right: -180px
      bottom: 100px
      opacity: 0
      +transform(translateX(-50px))


    img.show
      opacity: 1
      +transform(translate(0))

    //+transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg))
#section2
  background:
    color: #010005
  color: red
  z-index: -2
  height: 800px
  .about
    padding: 160px 0 0 80px
    width: 45%
    float: left

    p
      width: 80%
      min-width: 250px
      color: #919191

    h2
      margin: 0 0 30px
      color: #919191

    img.about-img
      width: 60%
      min-width: 400px
      position: absolute
      top: 30%
      right: 0px
      opacity: 0
      z-index: -1
      +filter(blur(10px))
      +transition(2.5s)
    img.show
      opacity: 1
      +filter(blur(3px))
#section3
  .portfolio-text
    text-align: center
    height: 600px
    width: 50%
    float: right
    background: #dfdfdf

    h2
      margin: 140px 0 35px
    p
      width: 50%
      margin: 30px auto


  .portfolio
    .project
      width: 50%
      height: 300px
      float: left
      border-right: 1px solid #a3a2a2
      border-top: 1px solid #a3a2a2
      position: relative
      overflow: hidden
      &:hover a figcaption
        +transform(translateX(0))
        opacity: 1
      a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        +transform(translateX(-100%))
        +transition(1.5s)

        figcaption
          color: white
          background: $red
          font-size: 18px
          // border: 1px solid #6b0808
          // border-right: none
          box-shadow: 2px 2px 8px #2d2d2d
          position: absolute
          bottom: 5px
          right: 0
          text-align: center
          min-width: 250px
          padding: 15px 50px
          opacity: 0
          +transition(translate, .3s)
          +transform(translateX(100%))


      a.show
        +transform(translate(0))
      a.marie
        background:
          image:url('../img/projects/marie.png')
          size: cover
      a.eshop
        background:
          image:url('../img/projects/eshop.png')
          size: cover
