@media (min-width: 992px){
    
    #mainNav:not(.navbar-shrink) .navbar-brand,
    #mainNav:not(.navbar-shrink) .navbar-nav .nav-item .nav-link {
        /* color: rgba(255, 255, 255, 0.9); */
        /* color: #bda25c; */
        color: #fff;
        text-shadow: 0 0 10px rgb(110 110 110);
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active,
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: #bda25c!important;
    }
}

@media (max-width: 480px){
    nav{
        min-width: 100%;
    }
    #gallery, #portfolio {
        padding-left: 36px;
        padding-right: 36px;
    }

    div#content {
        min-height: unset;
    }

    
    footer .footer-sections{
        text-align: center;
    }

    footer .copyright,
    footer .contacts {
        text-align: center;
    }

    footer .contacts ul{
        display: inline-block;
        margin: auto;
        text-align-last: left;
    }

    footer .contacts ul li{
        display: block;
        margin-bottom: 16px;
    }

    footer span.icon-text {
        transform: translateY(-2px);
    }

    footer.footer {
        padding-bottom: 1rem;
    }

}
